/* Reseta margens e preenchimentos do html e body */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

body {
  background: #fff; /* Define uma cor de fundo neutra ou qualquer outra cor padrão */
}
