/* Resets html and body margins and padding */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

body {
  background: #fff; /* Sets a neutral background color or any other default color */
}
